<launch>
    <arg name="use_xacro" default="false" />
    <arg name="use_old_robot_xacro" default="false" />
    <arg name="use_gui" default="true" />
    <arg name="use_robot_state_publisher" default="true" />
    <arg name="use_sim_time" default="true" />
    
    <arg if="$(arg use_xacro)" name="filename" default="robot.xacro" />
    <arg if="$(arg use_old_robot_xacro)" name="filename" default="old_robot.xacro" />
    <arg unless="$(arg use_xacro)" name="filename" default="robot.urdf" />
    
    <arg name="file" default="$(find lab5_bag_package)/urdf/$(arg filename)" />
    <arg name="rviz_file" default="$(find lab5_bag_package)/config/config.rviz" />
    
    <param if="$(arg use_xacro)" name="robot_description" command="$(find xacro)/xacro.py --inorder $(arg file)" />
    <param unless="$(arg use_xacro)" name="robot_description" textfile="$(arg file)" />
    <param if="$(arg use_sim_time)" name="use_sim_time" value="true" />
    
    <group if="$(arg use_robot_state_publisher)">
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    </group>
    
    <group if="$(arg use_gui)" >
        <param name="use_gui" value="true" /> 
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_file)" required="true" />
        <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />
    </group>
</launch>
